/*Configurações inicias*/
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*##############################################################################*/

/*Configurações do Container do Header*/
header
{
    background-color: rgb(70, 70, 70);
}
.container
{
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;

}
header .container
{
    padding: 16px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .container img
{
    height: 160px;
}
.container nav li
{
    display: inline;
    margin-right: 50px;
}

/*Design dos itens do container do header*/
header nav a
{  
    color: white;
    font-size: 30px;
    text-decoration: none;
}
header nav a:hover
{
    text-decoration: underline;
}
header h1
{
    font-size: 100px;
}

/*##############################################################################*/

/*Design da main*/
main
{
    background-color: rgb(222, 222, 222);
}

/*##############################################################################*/

/*Seção keys*/
#keys .container
{
    display: flex;
    align-items: center;
}
#keys .container img
{
    height: 300px;
}
#keys .container div img
{
    height: 40px;
    margin-right: 15px;
    margin-top: 10px;
}
#keys div p
{
    width: 75%;
}

/*Design Seção Keys(Keys)*/
#keys div h2
{
    font-size: 32px;
}
#keys div p
{
    font-size: 20px;
}

/*##############################################################################*/

/*Seção Cartões(Cards)*/
#Cards
{
    margin-top: 200px;
}
#Cards .container
{
    display: flex;
    align-items: center;
}
#Cards .container img
{
    height: 300px;
}
#Cards div
{
    margin-left: 78px;
}
#Cards .container div img
{
    height: 40px;
    margin-right: 20px;
    margin-top: 10px;
}
#Cards div p
{
    width: 75%;
}

/*Design Seção Cards*/
#Cards div h2
{
    font-size: 32px;
}
#Cards div p
{
    font-size: 20px;
}

/*##############################################################################*/

/*Seção Sobre(About)*/
#About
{
    margin-top: 200px;
    padding-bottom: 70px;
}
#About .container
{
    display: flex;
    align-items: center;
}
#About .container .logo_name img
{
    height: 300px;
}
#About .container .logo_name h1
{
    margin-left: 140px;
    font-size: 70px;
    text-shadow: 2px 2px black;
}
#About .container .text
{
    margin-left: 15px;
}
#About .container .text p
{
    width: 75%;
}

/*Design Seção Cards*/
#About .text h2
{
    font-size: 32px;
}
#About .text p
{
    font-size: 20px;
}

/*##############################################################################*/

/*Configurações do Rodapé*/
footer
{
    padding: 30px 0;
    background-color: rgb(70, 70, 70);
}
footer .container
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    color: white;
}

/*##############################################################################*/

/*Design das letras*/
body p
{
    font-family:'Franklin Gothic Medium';
    font-weight: 500;
}
body h1, body h2, body a
{
    font-family: 'MedievalSharp', cursive;
}
body h1
{
    color: #CBAB2E;
    text-shadow: 4px 4px black;
}